<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isPass</key>
		<false/>
		<key>description</key>
		<string>白骨之中的传送阵在召唤这些怪物，一个身影在守护。</string>
		<key>name</key>
		<string>异传送阵</string>
	</dict>
	<dict>
		<key>isPass</key>
		<false/>
		<key>description</key>
		<string>原谅我的鲁莽，指挥官。我会用我的雷电证明我的忠诚。</string>
		<key>name</key>
		<string>忠诚的证明</string>
	</dict>
	<dict>
		<key>isPass</key>
		<false/>
		<key>description</key>
		<string>睁开双眼，身处一个奇怪的地方，远处传来隆隆的战鼓声，有东西向你冲了过来。</string>
		<key>name</key>
		<string>异界战场</string>
	</dict>
	<dict>
		<key>isPass</key>
		<false/>
		<key>description</key>
		<string>想让我们的长官......救治......先证明......的身份。余下的你听不见了。</string>
		<key>name</key>
		<string>军营</string>
	</dict>
	<dict>
		<key>New item</key>
		<false/>
		<key>description</key>
		<string>倒下的骷髅王再次站起来，带领更多的怪物向你冲来。</string>
		<key>name</key>
		<string>埋骨场</string>
	</dict>
	<dict>
		<key>isPass</key>
		<false/>
		<key>description</key>
		<string>面对死灵法师的镰刀,只需要做一件事:全军出击！</string>
		<key>name</key>
		<string>异全军出击</string>
	</dict>
	<dict>
		<key>isPass</key>
		<false/>
		<key>description</key>
		<string>“原来你真的不记得了，指挥官。”小鹿拿出长矛，“希望这样你能够记得一些。”</string>
		<key>name</key>
		<string>歌声中的回忆</string>
	</dict>
	<dict>
		<key>isPass</key>
		<false/>
		<key>description</key>
		<string>一阵混战之后，你发现自己陷入了战场的中央。</string>
		<key>name</key>
		<string>战场中央</string>
	</dict>
	<dict>
		<key>isPass</key>
		<false/>
		<key>description</key>
		<string>伴随着一阵笑声，那个影子消失了，他是谁？周围越来越混乱，先赶紧离开才行。</string>
		<key>name</key>
		<string>异突围</string>
	</dict>
</array>
</plist>
