<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>攻击力</key>
		<string>3266</string>
		<key>MP</key>
		<string>40271</string>
		<key>name</key>
		<string>船长</string>
		<key>力量</key>
		<string>1837</string>
		<key>护盾</key>
		<string>540</string>
		<key>敏捷</key>
		<string>876</string>
		<key>智力</key>
		<string>1123</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>3060</string>
		<key>MP</key>
		<string>41186</string>
		<key>name</key>
		<string>潮汐</string>
		<key>力量</key>
		<string>1886</string>
		<key>护盾</key>
		<string>631</string>
		<key>敏捷</key>
		<string>1016</string>
		<key>智力</key>
		<string>1083</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>2992</string>
		<key>MP</key>
		<string>40394</string>
		<key>name</key>
		<string>人马</string>
		<key>力量</key>
		<string>1819</string>
		<key>护盾</key>
		<string>552</string>
		<key>敏捷</key>
		<string>738</string>
		<key>智力</key>
		<string>1022</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>2420</string>
		<key>MP</key>
		<string>34090</string>
		<key>name</key>
		<string>死骑</string>
		<key>力量</key>
		<string>1594</string>
		<key>护盾</key>
		<string>518</string>
		<key>敏捷</key>
		<string>982</string>
		<key>智力</key>
		<string>1239</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>2957</string>
		<key>MP</key>
		<string>35784</string>
		<key>name</key>
		<string>大树</string>
		<key>力量</key>
		<string>1618</string>
		<key>护盾</key>
		<string>575</string>
		<key>敏捷</key>
		<string>1101</string>
		<key>智力</key>
		<string>1209</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>2286</string>
		<key>MP</key>
		<string>34643</string>
		<key>name</key>
		<string>全能骑士</string>
		<key>力量</key>
		<string>1512</string>
		<key>护盾</key>
		<string>526</string>
		<key>敏捷</key>
		<string>1013</string>
		<key>智力</key>
		<string>1195</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>3144</string>
		<key>MP</key>
		<string>39752</string>
		<key>name</key>
		<string>刚背猪</string>
		<key>力量</key>
		<string>1686</string>
		<key>护盾</key>
		<string>590</string>
		<key>敏捷</key>
		<string>1083</string>
		<key>智力</key>
		<string>1211</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>3457</string>
		<key>MP</key>
		<string>36382</string>
		<key>name</key>
		<string>军团</string>
		<key>力量</key>
		<string>1739</string>
		<key>护盾</key>
		<string>553</string>
		<key>敏捷</key>
		<string>1222</string>
		<key>智力</key>
		<string>888</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>2945</string>
		<key>MP</key>
		<string>36502</string>
		<key>name</key>
		<string>小小</string>
		<key>力量</key>
		<string>1575</string>
		<key>护盾</key>
		<string>537</string>
		<key>敏捷</key>
		<string>774</string>
		<key>智力</key>
		<string>1201</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>2254</string>
		<key>MP</key>
		<string>37494</string>
		<key>name</key>
		<string>斧王</string>
		<key>力量</key>
		<string>1671</string>
		<key>护盾</key>
		<string>479</string>
		<key>敏捷</key>
		<string>903</string>
		<key>智力</key>
		<string>824</string>
	</dict>
</array>
</plist>
