<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>攻击力</key>
		<string>4197</string>
		<key>MP</key>
		<string>29193</string>
		<key>name</key>
		<string>猴子</string>
		<key>力量</key>
		<string>1515</string>
		<key>敏捷</key>
		<string>1740</string>
		<key>智力</key>
		<string>1070</string>
		<key>闪避</key>
		<string>65</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>4302</string>
		<key>MP</key>
		<string>23815</string>
		<key>name</key>
		<string>小黑</string>
		<key>力量</key>
		<string>1202</string>
		<key>敏捷</key>
		<string>1758</string>
		<key>智力</key>
		<string>1120</string>
		<key>闪避</key>
		<string>55</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>4505</string>
		<key>MP</key>
		<string>23252</string>
		<key>name</key>
		<string>火枪</string>
		<key>力量</key>
		<string>1139</string>
		<key>敏捷</key>
		<string>1896</string>
		<key>智力</key>
		<string>1167</string>
		<key>闪避</key>
		<string>55</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>3727</string>
		<key>MP</key>
		<string>22512</string>
		<key>name</key>
		<string>直升机</string>
		<key>力量</key>
		<string>1153</string>
		<key>敏捷</key>
		<string>1613</string>
		<key>智力</key>
		<string>1117</string>
		<key>闪避</key>
		<string>30</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>3663</string>
		<key>MP</key>
		<string>25423</string>
		<key>name</key>
		<string>白虎</string>
		<key>力量</key>
		<string>1292</string>
		<key>敏捷</key>
		<string>1664</string>
		<key>智力</key>
		<string>1137</string>
		<key>闪避</key>
		<string>55</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>3505</string>
		<key>MP</key>
		<string>30809</string>
		<key>name</key>
		<string>巨魔</string>
		<key>力量</key>
		<string>1492</string>
		<key>敏捷</key>
		<string>1457</string>
		<key>智力</key>
		<string>776</string>
		<key>闪避</key>
		<string>30</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>3772</string>
		<key>MP</key>
		<string>29580</string>
		<key>name</key>
		<string>小娜迦</string>
		<key>力量</key>
		<string>1423</string>
		<key>敏捷</key>
		<string>1701</string>
		<key>智力</key>
		<string>1100</string>
		<key>闪避</key>
		<string>60</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>3396</string>
		<key>MP</key>
		<string>23545</string>
		<key>name</key>
		<string>敌法</string>
		<key>力量</key>
		<string>1107</string>
		<key>敏捷</key>
		<string>1541</string>
		<key>智力</key>
		<string>1067</string>
		<key>闪避</key>
		<string>60</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>3644</string>
		<key>MP</key>
		<string>24407</string>
		<key>name</key>
		<string>亚龙</string>
		<key>力量</key>
		<string>1209</string>
		<key>敏捷</key>
		<string>1560</string>
		<key>智力</key>
		<string>1060</string>
		<key>闪避</key>
		<string>35</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>3093</string>
		<key>MP</key>
		<string>37305</string>
		<key>name</key>
		<string>拍拍熊</string>
		<key>力量</key>
		<string>1830</string>
		<key>敏捷</key>
		<string>1360</string>
		<key>智力</key>
		<string>789</string>
		<key>闪避</key>
		<string>30</string>
	</dict>
</array>
</plist>
