<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>攻击力</key>
		<string>3053</string>
		<key>MP</key>
		<string>36162</string>
		<key>name</key>
		<string>死亡先知</string>
		<key>力量</key>
		<string>1415</string>
		<key>敏捷</key>
		<string>1122</string>
		<key>智力</key>
		<string>2254</string>
		<key>魔法强度</key>
		<string>6927</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>3091</string>
		<key>MP</key>
		<string>27073</string>
		<key>name</key>
		<string>恶魔巫师</string>
		<key>力量</key>
		<string>1272</string>
		<key>敏捷</key>
		<string>1097</string>
		<key>智力</key>
		<string>2310</string>
		<key>魔法强度</key>
		<string>7281</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>3013</string>
		<key>MP</key>
		<string>28229</string>
		<key>name</key>
		<string>修补匠</string>
		<key>力量</key>
		<string>1326</string>
		<key>敏捷</key>
		<string>1068</string>
		<key>智力</key>
		<string>2314</string>
		<key>魔法强度</key>
		<string>6774</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>2590</string>
		<key>MP</key>
		<string>22916</string>
		<key>name</key>
		<string>小鹿</string>
		<key>力量</key>
		<string>1032</string>
		<key>敏捷</key>
		<string>1198</string>
		<key>智力</key>
		<string>1965</string>
		<key>魔法强度</key>
		<string>5914</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>2246</string>
		<key>MP</key>
		<string>26534</string>
		<key>name</key>
		<string>死灵法师</string>
		<key>力量</key>
		<string>1205</string>
		<key>敏捷</key>
		<string>1014</string>
		<key>智力</key>
		<string>1609</string>
		<key>魔法强度</key>
		<string>4708</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>3011</string>
		<key>MP</key>
		<string>25360</string>
		<key>name</key>
		<string>火女</string>
		<key>力量</key>
		<string>1179</string>
		<key>敏捷</key>
		<string>1237</string>
		<key>智力</key>
		<string>2273</string>
		<key>魔法强度</key>
		<string>7056</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>3559</string>
		<key>MP</key>
		<string>26348</string>
		<key>name</key>
		<string>风行</string>
		<key>力量</key>
		<string>1359</string>
		<key>敏捷</key>
		<string>1148</string>
		<key>智力</key>
		<string>1867</string>
		<key>魔法强度</key>
		<string>5245</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>2476</string>
		<key>MP</key>
		<string>23689</string>
		<key>name</key>
		<string>冰魂</string>
		<key>力量</key>
		<string>1035</string>
		<key>敏捷</key>
		<string>925</string>
		<key>智力</key>
		<string>1855</string>
		<key>魔法强度</key>
		<string>5522</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>2720</string>
		<key>MP</key>
		<string>24307</string>
		<key>name</key>
		<string>痛苦女王</string>
		<key>力量</key>
		<string>1125</string>
		<key>敏捷</key>
		<string>1109</string>
		<key>智力</key>
		<string>1971</string>
		<key>魔法强度</key>
		<string>5893</string>
	</dict>
	<dict>
		<key>攻击力</key>
		<string>2580</string>
		<key>MP</key>
		<string>25540</string>
		<key>name</key>
		<string>光法</string>
		<key>力量</key>
		<string>1135</string>
		<key>敏捷</key>
		<string>1007</string>
		<key>智力</key>
		<string>1886</string>
		<key>魔法强度</key>
		<string>5645</string>
	</dict>
</array>
</plist>
